*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;   
}
@media (-webkit-device-pixel-ratio: 1.25) {
    *{
        zoom: 95.5%;
  }
}
body{
    background-color: #192135;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(32,42,68,0.7),rgba(32,42,68,0.5)), url(images/background.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.fade-in{
    opacity: 0;
    transition: opacity 500ms ease-in;
}
.fade-in.appear{
    opacity: 1;
}
/*--------- Loader ----------*/

.loader-wrapper{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #192135;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
  }
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
  }
  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    
    25% {
      transform: rotate(180deg);
    }
    
    50% {
      transform: rotate(180deg);
    }
    
    75% {
      transform: rotate(360deg);
    }
    
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes loader-inner {
    0% {
      height: 0%;
    }
    
    25% {
      height: 0%;
    }
    
    50% {
      height: 100%;
    }
    
    75% {
      height: 100%;
    }
    
    100% {
      height: 0%;
    }
  }


/*--------- Menu Nav Bar ------*/

nav{
    display: flex;
    padding: 1% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    max-width: 115px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 15px 50px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: #D2AB67;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover:after{
    width: 100%;
}

/* ------- Welcome page text ----*/

.text-box{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box img{
    max-width: 689px;
    margin: 10px 0 20px;
}
.text-box p{
    margin: 10px 0 80px;
    font-size: 48px;
    font-weight: 200;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 5px 60px;
    font-size: 26px;
    font-weight: 200;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    color: black;
    border: 1px solid #fff;
    background-color: #D2AB67;
    transition: 0.5s;
}

.toggle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    z-index: 3;
}
@media (-webkit-device-pixel-ratio: 1.25) {
    .text-box img{
        zoom: 95.5%;
    }
    nav{
        zoom: 95.5%;
    }
    nav img{
        zoom: 95.5%;
    }
    .nav-links ul li{
        zoom: 95.5%;
    }
  }

@media(max-width: 992px){
    .text-box img{
        max-width: 400px;
        margin: 10px 0 20px;
    }
    nav{
        display: flex;
        padding: 4% 6%;
    }
    nav img{
        max-width: 70px;
    }
    .nav-links ul li{
        list-style: none;
        display: inline-block;
        padding: 5px 15px;
        position: relative;
    }
}


@media(max-width: 768px){
    .text-box img{
        width: 350px;
        margin: 10px 0 20px;
    }
    nav img{
        display: none;
    }
    .nav-links ul li{
        display: block;
        padding: 25px 50px;
    }
    .nav-links ul li a{
        font-size: 25px;
    }
    .nav-links{
        display: none;
        position: absolute;
        background-color: #192135;
        height: 500px;
        width: 100%;
        top: 0px;
        right: 0px;
        text-align: center;
        z-index: 2;
        transition: 1s;
    }
    .nav-links ul{
        width: 100%;
        flex-direction: column;
        padding-top: 20%;
    }
    .nav-links.active{
        display: flex;
    }
    .toggle-button{
        position: absolute;
        top: .75rem;
        right: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
    }
    .toggle-button .bar{
        height: 3px;
        width: 100%;
        background-color: white;
        border-radius: 10px;
    }
}

/*------ O nas ------*/

.onas{
    min-height: 100vh;
    width: 80%;
    margin: auto;
    padding-top: 100px;
    position: relative;
}
.title-lines{
    position: absolute;
    left: 180px;
    font-size: 80px;
    font-weight: 300;
    color: #D2AB67;
    text-align: left;
    padding-top: 5px;
    cursor: pointer;
}
.title-lines:before{
    content:" ";
    height: 2px;
    width: 50px;
    background: #D2AB67;
    display: block;
    position: absolute;
    top: 55%;
    left: -100px;

}
.title-lines:after{
    content:" ";
    height: 2px;
    width: 50px;
    background: #D2AB67;
    display: block;
    position: absolute;
    top: 55%;
    right: -100px;
  }
.onas p{
    position: absolute;
    width: 650px;
    height: 438px;
    font-size: 22px;
    font-weight: 200;
    color: #fff;
    padding-top: 150px;
}
.onas img{
    float: right;
    width: 720px;
    z-index: -1;
}
.social-menu ul{
    position: absolute;
    left: 250px;
    padding-top: 620px;
    display: flex;
}
.social-menu ul li{
    list-style: none;
    margin: 0 15px;
}
.social-menu ul li .fa{
    font-size: 40px;
    line-height: 60px;
    transition: 0.5s;
    color: #D2AB67;
}
.social-menu ul li .fa:hover{
    transform: translate(0%, -10%);
    color: #d2c767;
}
.background-circle-1 img{
    position: absolute;
    width: 350px;
    padding-top: 550px;
    right: 35%;
    z-index: -1;
}
.background-frame-1 img{
    position: absolute;
    width: 5px;
    right: 0;
    z-index: -1;
}

@media(max-width: 992px){
    .onas{
        padding-top: 50px;
        min-height: 70vh;
        position: relative;
    }
    .title-lines{
        position: absolute;
        left: 200px;
        font-size: 80px;
        font-weight: 300;
        color: #D2AB67;
        text-align: left;
        padding-top: 5px;
        cursor: pointer;
    }
    .onas p{
        position: absolute;
        width: 640px;
        height: 438px;
        font-size: 22px;
        font-weight: 200;
        color: #fff;
        padding-top: 150px;
        text-align: center;
    }
    .onas img{
        display: none;
    }
    .background-circle-1 img{
        display: block;
        width: 250px;
        padding-top: 450px;
        left: 0%;
        z-index: -2;
    }
    .social-menu ul{
        position: absolute;
        left: 40%;
        padding-top: 620px;
        display: flex;
    }
    .social-menu ul li{
        list-style: none;
        margin: 0 15px;
    }
    .social-menu ul li .fa{
        font-size: 40px;
        line-height: 60px;
        transition: 0.5s;
        color: #D2AB67;
    }
    .social-menu ul li .fa:hover{
        transform: translate(0%, -10%);
        color: #d2c767;
    }
    .background-frame-1 img{
        display: block;
        width: 3px;
        right: 0;
    }
}


@media(max-width: 768px){
    .onas{
        padding-top: 50px;
        position: relative;
    }
    .title-lines{
        position: absolute;
        left: 28%;
        font-size: 50px;
        font-weight: 300;
        color: #D2AB67;
        text-align: left;
        padding-top: 5px;
        cursor: pointer;
    }
    .onas p{
        position: absolute;
        width: 100%;
        height: 438px;
        font-size: 22px;
        font-weight: 200;
        color: #fff;
        padding-top: 100px;
        text-align: center;
    }
    .onas img{
        display: none;
    }
    .background-circle-1 img{
        display: none;
    }
    .social-menu ul{
        position: absolute;
        left: 26%;
        padding-top: 800px;
        display: flex;
    }
    .social-menu ul li{
        list-style: none;
        margin: 0 25px;
    }
    .social-menu ul li .fa{
        font-size: 40px;
        line-height: 60px;
        transition: 0.5s;
        color: #D2AB67;
    }
    .social-menu ul li .fa:hover{
        transform: translate(0%, -10%);
        color: #d2c767;
    }
    .background-frame-1 img{
        display: none;
    }
}


/*------ Nasza Restauracja ------*/

.nasza-restauracja{
    min-height: 100vh;
    width: 80%;
    margin: auto;
    padding-top: 100px;
    position: relative;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.nr-col img{
    width: 720px;
    padding-left: 15px;
}
.background-frame-2 img{
    position: absolute;
    left: 0;
    width: 5px;
}
.background-circle-2 img{
    position: absolute;
    width: 350px;
    padding-top: 550px;
    left: 35%;
    z-index: -1;
}
.nr-col h1{
    position: absolute;
    right: 10%;
    font-size: 80px;
    font-weight: 300;
    color: #D2AB67;
    text-align: center;
    padding-top: 5px;
}
.nr-col h1:before{
    content:" ";
    height: 3px;
    width: 50px;
    background: #D2AB67;
    display: block;
    position: absolute;
    top: 50%;
    left: -100px;

}
.nr-col h1:after{
    content:" ";
    height: 3px;
    width: 50px;
    background: #D2AB67;
    display: block;
    position: absolute;
    top: 50%;
    right: -100px;
  }
.nr-col p{
    position: absolute;
    padding-top: 290px;
    right: 3%;
    width: 650px;
    height: 438px;
    font-size: 22px;
    font-weight: 200;
    color: #fff;
}
.nr-col a{
    position: absolute;
    top: 800px;
    right: 17%;
}
.hero-btn-nr{
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 5px 60px;
    font-size: 26px;
    font-weight: 200;
    background: transparent;
    cursor: pointer;
}
.hero-btn-nr:hover{
    color: black;
    border: 1px solid #fff;
    background-color: #D2AB67;
    transition: 0.5s;
}

@media(max-width: 992px){
    .nasza-restauracja{
        min-height: 70vh;
        position: relative;
    }
    .nr-col h1{
        position: absolute;
        right: 24%;
        font-size: 60px;
        font-weight: 300;
        color: #D2AB67;
        text-align: center;
        top: 40px;
    }
    .nr-col h1:before{
        content:" ";
        height: 3px;
        width: 50px;
        background: #D2AB67;
        display: block;
        position: absolute;
        top: 50%;
        left: -100px;
    
    }
    .nr-col h1:after{
        content:" ";
        height: 3px;
        width: 50px;
        background: #D2AB67;
        display: block;
        position: absolute;
        top: 50%;
        right: -100px;
      }
    .nr-col p{
        position: absolute;
        text-align: center;
        padding-top: 200px;
        right: 2%;
        width: 640px;
        height: 438px;
        font-size: 22px;
        font-weight: 200;
        color: #fff;
    }
    .nr-col a{
        position: absolute;
        top: 700px;
        right: 30%;
    }
    .background-frame-2 img{
        position: absolute;
        left: 0;
        width: 3px;
    }
    .background-circle-2 img{
        position: absolute;
        width: 200px;
        padding-top: 500px;
        left: 60%;
        z-index: -1;
    }
    .nr-col img{
        display: none;
    }
}

@media(max-width: 768px){
    .nasza-restauracja{
        padding-top: 100px;
        position: relative;
    }
    .nr-col h1{
        position: absolute;
        right: 3%;
        font-size: 50px;
        font-weight: 300;
        color: #D2AB67;
        text-align: center;
        padding-top: 5px;
    }
    .nr-col h1:before{
        display: none;
    
    }
    .nr-col h1:after{
        display: none;
      }
    .nr-col p{
        position: absolute;
        text-align: center;
        padding-top: 200px;
        right: 2%;
        width: 310px;
        height: 438px;
        font-size: 22px;
        font-weight: 200;
        color: #fff;
    }
    .nr-col a{
        position: absolute;
        top: 800px;
        right: 10%;
    }
    .background-frame-2 img{
        display: none;
    }
    .background-circle-2 img{
        display: none;
    }
    .nr-col img{
        display: none;
    }
}

/*------ Pump Room ------*/

.pump-room{
    min-height: 100vh;
    width: 80%;
    margin: auto;
    padding-top: 100px;
    position: relative;
}
.pr-col h1{
    position: absolute;
    left: 7%;
    font-size: 80px;
    font-weight: 300;
    color: #D2AB67;
    text-align: center;
    top: 250px;
}
.pr-col h1:before{
    content:" ";
    height: 3px;
    width: 50px;
    background: #D2AB67;
    display: block;
    position: absolute;
    top: 50%;
    left: -100px;

}
.pr-col h1:after{
    content:" ";
    height: 3px;
    width: 50px;
    background: #D2AB67;
    display: block;
    position: absolute;
    top: 50%;
    right: -100px;
  }
.pr-col p{
    position: absolute;
    padding-top: 300px;
    left: 3%;
    width: 650px;
    height: 438px;
    font-size: 22px;
    font-weight: 200;
    color: #fff;
}
.pr-col img{
    width: 720px;
    padding-left: 15px;
}
.background-frame-3 img{
    position: absolute;
    right: 0;
    width: 5px;
}
.background-circle-3 img{
    position: absolute;
    width: 350px;
    padding-top: 550px;
    right: 35%;
    z-index: -1;
}
@media(max-width: 992px){
    .pump-room{
        min-height: 50vh;
        position: relative;
    }
    .pr-col h1{
        position: absolute;
        right: 7%;
        font-size: 60px;
        font-weight: 300;
        color: #D2AB67;
        text-align: center;
        top: 40px;
    }
    .pr-col h1:before{
        content:" ";
        height: 3px;
        width: 50px;
        background: #D2AB67;
        display: block;
        position: absolute;
        top: 50%;
        left: -25px;
    
    }
    .pr-col h1:after{
        content:" ";
        height: 3px;
        width: 50px;
        background: #D2AB67;
        display: block;
        position: absolute;
        top: 50%;
        right: -25px;
      }
    .pr-col p{
        position: absolute;
        text-align: center;
        padding-top: 100px;
        left: 4%;
        width: 600px;
        height: 438px;
        font-size: 22px;
        font-weight: 200;
        color: #fff;
    }
    .pr-col a{
        position: absolute;
        top: 700px;
        right: 30%;
    }
    .background-frame-3 img{
        position: absolute;
        right: 0;
        width: 3px;
    }
    .background-circle-3 img{
        position: absolute;
        width: 200px;
        padding-top: 300px;
        left: 5%;
        z-index: -1;
    }
    .pr-col img{
        display: none;
    }
}
@media(max-width: 768px){
    .pump-room{
        padding-top: 100px;
        position: relative;
    }
    .pr-col h1{
        position: absolute;
        left: 0%;
        font-size: 50px;
        font-weight: 300;
        color: #D2AB67;
        text-align: center;
        top: 100px;
    }
    .pr-col h1:before{
        display: none;
    
    }
    .pr-col h1:after{
        display: none;
      }
    .pr-col p{
        position: absolute;
        text-align: center;
        padding-top: 100px;
        left: 0%;
        width: 300px;
        height: 438px;
        font-size: 22px;
        font-weight: 200;
        color: #fff;
    }
    .pr-col a{
        position: absolute;
        top: 800px;
        right: 10%;
    }
    .background-frame-3 img{
        display: none;
    }
    .background-circle-3 img{
        display: none;
    }
    .pr-col img{
        display: none;
    }
}